<p>
    Created by <a href="https://aamindmandragora.vercel.app" target="_blank">Advayth Pashupati</a> in the summer of 2024. Outdated information? Make a pull request in the <a>GitHub repository</a>.
</p>