<title>IMSA Courses</title>
<link rel="stylesheet" href="styles/common.css">
<link rel="stylesheet" href="styles/<%- name %>.css">
<script src="scripts/common.js"></script>
<script src="scripts/<%- name %>.js"></script>