<div id="title">
    <h1><a href="/">IMSA Courses</a></h1>
    <p><a href="adddrop">Add/Drop</a></p>
    <p><a href="https://docs.google.com/spreadsheets/d/15nRyk7nFIQSMEbSGTqQiaYRbYvvEOB99JgOfxQK7oBo/edit?gid=269117890#gid=269117890">3-Year Plan</a></p>
    <p><a href="search">Search</a></p>
</div>