<!DOCTYPE html>
<html>
    <head>
        <%- include('../partials/head', name='search'); %>
    </head>
    <body>
        <header id="home" class="panel">
            <%- include('../partials/header'); %>
        </header>
        <main>
            <div id="content">
                <p>Separate all parts of a query by a comma and a single space (for example: "Fall, 1, 2, Math").</p>
                <div>
                    <input id="search" type="text">
                    <button id="submit">Search</button>
                </div><br>
                <table id="results"></table>
            </div>
        </main>
        <footer id="contact-info" class="panel">
            <%- include('../partials/footer'); %>
        </footer>
    </body>
</html>