body {
    overflow: hidden;
}

table {
    overflow-y: scroll;
    margin: 0;
    font-size: max(18px, 1.3vh);
}

th, td {
    border: 1px solid #19325a;
    margin: 0;
    text-align: center;
    min-width: 10vw;
}

td {
    text-wrap: wrap;
    padding: 10px;
}

#content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}